.base {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;

  width: 100%;
  padding: 0.6rem 1.8rem;

  z-index: 1;
}

.base > span {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon {
  font-size: 0.9rem;
}
