.base {
  font-size: 1.2rem;
}

.base:has(.base) .base {
  /* font-size: inherit; */
}

h1.base {
  font-size: 3.1rem;
  font-weight: 300;
}

.base.alt {
  color: var(--foreground-alt-color);
}

.base.serif {
  font-family: var(--font-cormorant);
  font-weight: 500;
  font-size: 132%;
  letter-spacing: -0.1rem;
}
